Dropbox, Dropdown
  display inline-block
  position relative
  margin 1em
  rd 3px
  shd #ccc
  h3
    line-height 2
    padding 0 1em
  nav
    display none
    .opt-title
      shd 0 1px 0 #ccc
      pad-r 1em
      &:hover
        bg aliceblue

    .opt-toggle:checked + .opt-title
      bg aliceblue
      color _ok

  &:hover nav
    display block
    position absolute
    top 3em
    rd 3px
    max-height 56em
    overflow-y auto
    background #fff
    shd 0 0 0 1px #ccc, 0 2px 4px rgba(#000, .3)
    z-index 9
    display flex
    flex-direction column


.btn-option
  .opt-title
    @extend $nowrap
    cursor pointer
    display block
    line-height 2
    &:before
      display inline-block
      padding 0 .5em
      line-height 2
      content '✚'

  .opt-tab
    display none

  input.opt-toggle
    display none

    &:checked + .opt-title:before
      content '✖︎'
    &:checked ~ .opt-tab
      display block