@require 'reset'
@require 'util'


#map, html, body
  height 100%

body
  color #666
  font 14px/24px "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif

.panel
  top      1em
  padding  1em
  z-index  9
  position absolute
  border   1px solid #ccc
  bg       #fff
  shd      0 1px 3px rgba(0,0,0,.35)
  rd       3px

aside
  right    1em

button, .btn
  rd             3px
  lnh            2
  border         none
  outline        none
  padding        0 0.5em
  cursor         pointer
  display        inline-block
  vertical-align middle
  @extend $nowrap


.btn-group
  rd 3px
  shd 0 0 0 1px rgba(0,0,0,0.2)
  display flex
  overflow hidden

  > [class*='btn']
    flex 1
    rd 0px


.btn-info
  fn-theme: _info #fff

.btn-ok
  fn-theme: _ok #fff

.btn-err
  fn-theme: _err #fff

.btn-warning
  fn-theme: _warning #fff

input
  lnh 2
  rd 3px
  padding 0 .5em
  shd #ccc


.field
  display block
  mrg-b 1em

@require 'dropbox'