u=null

c-info    = skyblue
c-info-h  = deepskyblue

c-ok    = mediumseagreen
c-ok-h  = seagreen

c-err   = coral
c-err-h = salmon






fnt = "Helvetica Neue", Helvetica, Arial, sans-serif
fnt-serif = Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif

////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////
// FUNCTIONS
////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////

size(w, h=w)
  width: w
  height: h

pos(p, args...)
  position p
  for side, i in top right bottom left
    if args[ i ] is a 'unit'
      { side }: args[ i ]

center(w, t=8em, p=absolute)
  width w
  pos p t u u 50%
  margin-left: -(w/2)

appr(a=none)
  -moz-appearance: a
  -webkit-appearance: a

trans()
  transition: arguments

anim()
  animation: arguments

cols(n=2, g=0, c=transparent)
  columns: n
  column-gap: g
  column-rule: 1px solid c

////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////
// SHORTCUTS
////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////

ta(p=center)
  text-align p
fz()
  font-size: arguments
rd()
  border-radius: arguments
bg()
  background: arguments
bgc()
  background-color: arguments
bgi()
  background-image: arguments

grad(a, b=transparent, d=180deg, from=0%, to=100%)
  background-image linear-gradient(d, a from, b to)


shd(c, args...)
  if c is a 'rgba' and !args
    box-shadow: 0 0 0 1px c
  else
    box-shadow: arguments



lnh(n=1)
  line-height: n

min-h(n)
  min-height: n
max-h(n)
  max-height: n

max-w(n)
  max-width: n
min-w(n)
  min-width: n

mrg-t(n)
  margin-top: n
mrg-r(n)
  margin-right: n
mrg-b(n)
  margin-bottom: n
mrg-l(n)
  margin-left: n

pad-t(n)
  padding-top: n
pad-r(n)
  padding-right: n
pad-b(n)
  padding-bottom: n
pad-l(n)
  padding-left: n



////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////
// COMMON
////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////


$mute
  user-select: none
  pointer-events: none

$nowrap
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis


.fx
  display: flex
.fx-row
  display: flex
  flex-direction: row
.fx-col
  display: flex
  flex-direction: column

.right
  float: right
.left
  float: left

.hidden
  display none


::-webkit-scrollbar
  width .5em
::-webkit-scrollbar-track
  shd inset 1px 0 2px #ccc
::-webkit-scrollbar-thumb
  bg #ccc
  shd inset 0 0 5px #aaa




