doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport' content='width=device-width')
    title GEOBORK
    style
      include css/style.css
    script.
      this.$ = document.getElementById.bind(document);
      this.log = this.initMap = console.log;
    script
      include src/main.js

  body
    #map

    //- #picker.picker
    //-   header
    //-     button(name="prev" value=-1) ❮
    //-     input(name="year" type="number")
    //-     select(name="month")
    //-       each month, i in "Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec".split(',')
    //-         option(value=i)=month
    //-     input(name="date" type="number")
    //-     button(name="next" value=1) ❯
    //-   blockquote
    //-   nav
    //-     each day in "sun,mon,tue,wed,thu,fri,sat".split(',')
    //-       b=day
    //-   main

    #modal(style="display: none")
      p#message
      pre#stack
      button(onclick="$('modal').style.display='none'") ✖

    script(async src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyAf0WIFYuPX73ZG6DnQebznewgcwH0GXWA&callback=initMap&sensor=false")
    //- script
    //-   include src/Tic.js